/* Start Main Style */
/* Global Sass */
/* Global Style */
@import url("../plugins/font-awesome-4.7.0/css/font-awesome.min.css");
/*========================= 

    Start Style Arabic 

===========================*/
/* Font Arabic */
@font-face {
  font-family: 'JFFlat-Regular';
  src: url("../fonts/JFFlat-Regular.woff") format("woff"), url("../fonts/JFFlat-Regular.ttf") format("truetype"), url("../fonts/JFFlat-Regular.svg#JFFlat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Neo Sans Arabic';
  src: url("../fonts/NeoSansArabic.woff2") format("woff2"), url("../fonts/NeoSansArabic.woff") format("woff"), url("../fonts/NeoSansArabic.ttf") format("truetype"), url("../fonts/NeoSansArabic.svg#NeoSansArabic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Global Style Arabic */
body {
  direction: rtl;
  position: relative;
  font-family: 'Neo Sans Arabic';
  background-color: #f8f8f8; }

.h1, .h2, .h3, .h4, h1, h2, h3, h4, h5, h6 {
  font-family: 'JFFlat-Regular'; }

button,
input,
optgroup,
select,
textarea {
  font-family: 'JFFlat-Regular'; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box; }

button, a, label, input, textarea, li {
  outline: 0 !important; }

a {
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out; }

.title-section {
  position: relative; }
  .title-section h5 {
    letter-spacing: 0px;
    color: #222;
    font-size: 18px;
    font-weight: 400; }
  .title-section h2 {
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 700;
    color: #000; }
  .title-section.title-light h5 {
    color: #fff; }
  .title-section.title-light h2 {
    color: #fff; }

.btn-more,
.btn-secondary {
  font-size: 16px;
  color: #fff;
  background-color: #2e86de;
  padding: 8px 25px;
  letter-spacing: 1px;
  display: inline-block;
  border: 1px solid #2e86de;
  border-radius: 20px; }
  .btn-more:hover,
  .btn-secondary:hover {
    background-color: transparent;
    color: #2e86de; }
  .btn-more:focus,
  .btn-secondary:focus {
    color: #fff; }

.owl-carousel {
  direction: ltr; }

/* Start Style Head Pages */
#head-pages {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  color: #fff;
  padding: 180px 0 180px;
  position: relative; }
  #head-pages:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
    background-repeat: repeat; }
  #head-pages .container {
    position: relative;
    z-index: 2; }
  #head-pages h2 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  #head-pages .breadcrumb {
    background-color: transparent; }
    #head-pages .breadcrumb li {
      display: inline-block;
      float: none; }
      #head-pages .breadcrumb li a {
        color: #fff; }
    #head-pages .breadcrumb .breadcrumb-item.active {
      color: #2e86de; }
  #head-pages.fixed-head {
    position: fixed;
    left: 0;
    top: 0px;
    height: 80px;
    overflow: hidden;
    z-index: 10;
    padding: 20px; }
    #head-pages.fixed-head h2 {
      font-size: 30px; }

#header-Slider {
  height: 400px; }
  #header-Slider .owl-carousel {
    height: 100%;
    overflow: hidden; }
    #header-Slider .owl-carousel img {
      height: 100%; }
    #header-Slider .owl-carousel .owl-item,
    #header-Slider .owl-carousel .owl-stage-outer,
    #header-Slider .owl-carousel .owl-stage,
    #header-Slider .owl-carousel .owl-stage div {
      height: 100%; }
  #header-Slider .owl-nav {
    margin-top: -22px; }
    #header-Slider .owl-nav .owl-next {
      float: right;
      margin-right: 10px; }
    #header-Slider .owl-nav .owl-prev {
      float: left;
      margin-left: 10px; }

#contact-us {
  border-radius: 10px 0 0 10px;
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  #contact-us form {
    display: none; }
  #contact-us .btn-contactus-form {
    background-color: #2e86de;
    display: block;
    color: #fff;
    width: 100%;
    cursor: pointer;
    padding: 12px;
    font-weight: bold; }
  #contact-us .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 15px; }
  #contact-us .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #373341;
    outline: 0;
    box-shadow: none; }
  #contact-us .btn-primary-g {
    background-image: linear-gradient(80deg, #3369e7, #00aeff);
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 25px;
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer; }

/* Start Header Style */
/* Start Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
  header .navbar-brand {
    float: left;
    width: 180px;
    padding: 0;
    margin: 0;
    position: relative;
    height: 76px !important;
    overflow: hidden; }
    header .navbar-brand img {
      width: 100%;
      display: block;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
  header .navbar,
  header .navbar.navbar-default {
    background-color: transparent; }

.header-bg {
  background-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  .header-bg .navbar-brand {
    width: 150px;
    top: 0;
    height: 60px !important; }
    .header-bg .navbar-brand img {
      width: 100%; }
    .header-bg .navbar-brand .img-static {
      margin-top: -75px; }
    .header-bg .navbar-brand .img-fixed {
      margin-top: 10px; }
  .header-bg .navbar,
  .header-bg .navbar.navbar-default {
    background-color: transparent;
    padding: 10px !important; }

.section-content {
  padding-top: 20px; }
  .section-content.fixed-header-content {
    padding-top: 410px; }
  .section-content p {
    font-size: 1rem;
    line-height: 1.8;
    color: #000;
    font-weight: 500;
    margin: 15px auto;
    font-family: 'Neo Sans Arabic'; }
  .section-content b, .section-content strong {
    color: #2e86de; }

.pre-line {
  white-space: pre-line; }

ul,
ol {
  -webkit-padding-start: 0px !important;
  padding: 0px;
  margin: 0px; }

.item {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden; }
  .item:hover .img-item img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1); }
  .item .img-item {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden; }
    .item .img-item img {
      width: 100%;
      min-height: 100%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
  .item .info-item {
    padding: 15px; }
    .item .info-item h4 {
      font-weight: 600;
      font-size: 1.1rem;
      color: #2e86de; }
    .item .info-item p {
      font-size: .95rem;
      line-height: 1.6;
      color: #666; }

.info-contact i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 48px;
  color: #fff;
  background-color: #2e86de;
  text-align: center;
  font-size: 24px;
  border-radius: 50%; }
.info-contact h5 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6; }

.owl-nav {
  top: 50%;
  position: absolute;
  z-index: 4;
  text-align: center;
  width: 100%; }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    display: inline-block;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    color: #2e86de;
    box-shadow: 1px 1px 2px rgba(2, 2, 2, 0.4);
    border: 0; }
    .owl-nav .owl-next:hover,
    .owl-nav .owl-prev:hover {
      color: #fff;
      background-color: #2e86de; }
  .owl-nav .owl-next {
    float: right;
    margin-right: -20px; }
  .owl-nav .owl-prev {
    float: left;
    margin-left: -20px; }

@media (max-width: 767px) {
  #header-Slider {
    height: 300px; }

  .owl-carousel .owl-nav {
    display: none; }

  #head-pages {
    padding: 40px 0 40px; }
    #head-pages h2 {
      font-size: 30px; }

  .title-section h2 {
    font-size: 20px;
    line-height: 1.5; } }
@media (max-width: 568px) {
  #header-Slider {
    height: 250px; }

  #contact-us {
    width: 100%;
    border-radius: 0; }

  #contact-us .btn-contactus-form {
    border-radius: 0; } }
/* Start Page Contact Us */
footer {
  background: url(../../uploads/images/bg_foot2.png) repeat center top;
  padding: 20px 0;
  color: #fff; }
  footer ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #27517B;
    background: #fff;
    border-radius: 50%;
    display: block;
    font-weight: bold;
    margin: 0 5px;
    font-size: 20px;
    transition: all 0.3s ease-in-out; }
    footer ul li a:hover {
      background: #27517B;
      color: #fff;
      transition: all 0.3s ease-in-out; }
  footer .copy-right a {
    color: #fff; }

/*# sourceMappingURL=custom.css.map */
